[Unit]
Description=Prometheus Node Exporter
After=syslog.target network.target

[Service]
Type=simple
ExecStart={{ node_exporter_deploy_dir }}/node_exporter --collector.textfile.directory={{ node_exporter_deploy_dir }}/txt
User=prometheus
Group=prometheus
Restart=always

[Install]
WantedBy=multi-user.target